h3{
   color: rgb(228, 10, 10);
   font-size: 50px;
   background-color: rgb(252, 240, 83);
   background-image: -webkit-image-set("FreeVector-Thumbs-Up-Vector.jpg");  
   background-size: 300px 1000px; 
   background-position: 249%;  
   background-size:contain;
   background-repeat: no-repeat;
   display: block;
   background-position-x: right;
   height: 100px;
   flex-wrap: wrap; 

}